body{
    background-color: #102746;
}

div.alinhar{
    margin-top: 3%;
    margin-left: 45%;
}

.text{
margin-top: 30px;
 box-shadow: -1px -1px 10px black;
 height: 50px;
 width: 150px;
 border-radius: 20px;
 background-color: #446495;
 padding: 3px;
 text-align: center;
}

.text a
{
    color: #f0f0c8;
    text-decoration: none;
}

h1{
    color : #f0f0c8;
    margin-top: 120px;
    margin-right: 0px;
    margin-left: 37%;
    font-family: "Lucida Console", monospace;
}

img.imagem{
    width: 100px;
    height: 100px;
}

@media only screen and (min-width: 300px) and (max-width: 500px){
   div.alinhar{
    margin-left: 40%;
   }

   div.text{
    margin-top: 30px;
    box-shadow: -1px -1px 10px black;
    height: 60px;
    width: 155px;
    border-radius: 20px;
    background-color: #446495;
    padding: 3px;
    text-align: center;
   }

   div.inicio{
    font-size: 15px;
    margin-left: -50px;
   }

   div.container{
    margin-top: 40%;
    margin-left: -15px;
   }

   .text{
    height: 75px;
    width: 200px;
    font-size: 25px;
    margin-left: -20px;
   }

   img.imagem{
    width: 150px;
    height: 150px;
    margin-left: 3%;
    float: unset;
    padding: 15px;
   }

   section{
    margin-top: 15px;
    font-size: 23px;
    margin-left: -35px;
   }

   h1{
    color : #f0f0c8;
    margin-top: 120px;
    margin-right: 0px;
    margin-left: 35%;
    font-family: "Lucida Console", monospace;
    }
}