body{
    background-color: #102746;
}

div.login{
    margin-top: 100px;
    padding-top: 10px;
    width: 300px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: #446495;
    border-radius: 30px;
    padding-left: 120px;
    box-shadow: 0px 0px 15px black;
}

form input{
    border-radius: 15px;
    margin-top: 5px;
}

p.barra{
    margin-left: 7%;
    color: #f0f0c8;
}

h1{
    color: #f0f0c8;
}
input.button{
    background-color: #446495;
    color: #f0f0c8;
    padding-top: 3px;
    padding-left: 2px;
    padding-right: 2px;
    margin-left: 40px;
    height: 50px;
    width: 100px;
}

a{
    text-decoration: none;
    color: #bbaeae;
}

p{
    font-family: "Lucida Console", monospace;
}

a{
    color: #f0f0c8;
}