body{
    background-color: #102746;
}

img{
    width: 100px;
    height: 100px;
    margin-left: 40%;
    margin-top: 50px;
}

h1{
    text-align: center;
    color: #f0f0c8;
    margin-top: 100px;
}

p{
    margin-left: 38%;
    color: #f0f0c8;
    font-size: 25px;

}