body{
    background-color: #102746;
}

a{
    color: black;
    text-decoration: none;
}

h1{
    color : #f0f0c8;
    margin-top: 100px;
    margin-right: 0px;
    margin-left: 40%;
}

div.plan1{
    color: white;
    margin-left: 150px;
    box-shadow: 0px 0px 5px black;
    background-color: #446495;
    height: 200px;
    width: 200px;
    border-radius: 15px;
    padding-left: 15px;
    padding-top: 10px;
    padding: 10px;

}

div.plan2{
    margin-left: 425px;
    margin-top: -218px;
    color: white;
    box-shadow: 0px 0px 5px black;
    background-color: #446495;
    height: 200px;
    width: 200px;
    border-radius: 15px;
    padding-left: 15px;
    padding-top: 10px;
    padding: 10px;
}

div.plan3{
    margin-left: 58%;
    margin-top: -215px;
    color: white;
    box-shadow: 0px 0px 5px black;
    background-color: #446495;
    height: 200px;
    width: 200px;
    border-radius: 15px;
    padding-left: 15px;
    padding-top: 10px;
    padding: 10px;
}

div.container{
    margin-left: 150px;
    margin-top: 50px;
}

h2{
    margin-left: 40px;
}

/* MENU */

#menu_toogle{
    opacity: 0;
}

#menu_toogle:checked + .menu_btn > span{
    transform: rotate(45deg);
}

#menu_toogle:checked + .menu_btn > span::before{
    top: 0;
    transform: rotate(0deg);
}

#menu_toogle:checked + .menu_btn > span::after{
    top: 0;
    transform: rotate(90deg);
}

/* BARRINHA NAV */

#menu_toogle:checked + .menu_btn > section{
    transform: rotate(140deg);
}

#menu_toogle:checked + .menu_btn > section::before{
    top: 0;
    transform: rotate(0deg);
}

#menu_toogle:checked + .menu_btn > section::after{
    top: 0;
    transform: rotate(190deg);
}

#menu_toogle:checked ~ .menu_box{
    left: 0 !important;
}

.menu_btn{
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}

.menu_btn > span,
.menu_btn > span::before,
.menu_btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
}

.menu_btn > span::before{
    content: '';
    top: 8px;
}

/* DESIGNER 3 LINHA */

.menu_btn > section,
.menu_btn > section::before,
.menu_btn > section::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
}

.menu_btn > section::before{
    content: '';
    top: -8px;
}


.menu_box{
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #bdd1ee;
    box-shadow: 2px 2px 6px rgba(0, 0, -4);
    transition-duration: .25s;
}

.menu_item:hover{
    background-color: rgb(197, 182, 182);
}

li{
    margin-top: 50px;
}

/*******************************************/

@media only screen and (max-width: 600px){
   div.alinhar{
    margin-left: 30%;
   }

   div.inicio{
    font-size: 10px;
   }
}